@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

.domain-bg {
  height:180vh;
  max-height: 100%;
  background-size: cover;
  /* background-color: #110746; */
  background-image: url('https://firebasestorage.googleapis.com/v0/b/gdmaintest.appspot.com/o/domain%2F11.png?alt=media&token=9ec4f5d0-a5a5-412d-a051-757f879a3b57');
}

.search-area {
  margin-top: 200px !important;
  width: 100%;
  margin: 0 auto;
}



  


 



h1 {
	text-shadow: 1px 1px 10px rgba(black, .5);
}

h1, h2 {
	text-align: center;
	color: white;
	font-size: 2.5em;
	line-height: 1.3em;
	font-weight: 300;
}

h2 {
	margin-top: 100px;
	font-size: 1.3em;
	font-style: italic;
	font-weight: 100;
}



input {
	box-sizing: border-box;
	font-size: 13px;
	vertical-align: top;
}

.wrapper {
	text-align: center;
	position: relative;
	height: 80px;
	font-size: 0;
	top: 50%;
	transform: translateY(-50%);
}

.search {
	padding: 0 30px;
	font-size: 18px;
	width: 60%;
	max-width: 700px;
	height: 80px;
	border: 1px solid darken(white, 30%);
	border-radius: 25px;
}

/* .submit {
	cursor: pointer;
	border: none;
	background: url('http://thesuiteworld.com/wp-admin/maint/search-icon-white-png-540.png') no-repeat center center, #1E1E20;
	background-size: 35px 35px;
	border-radius: 0 20px 20px 0;
	padding: 15px 25px;
	display: inline-block;
	width: 150px;
	height: 80px;
} */