

.marketing{
    display: flex;
}

.marketingBody{
flex:3;
/* border:10px solid red ; */
height: 100vh;
}
.marketingNav{
flex:1;
color: #110746;
box-shadow: 1px 1px 1px 10px #f1f1f1;
height: 100vh;

}

.marketingMenu{
    padding: 30px;
    margin-top: 50px;
    
}

.marketingMenuList{
   
    padding: 10px;
    color: #110746;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 30px;
   
    
}

.marketingMenuList:hover{
   
    box-shadow: 2px 2px 2px 2px #f1f1f1;
    
}

.marketingMenuHead{
    /* border:1px solid green; */
}

.marketingMenuLogo{
    /* border:1px solid green; */
    margin-left: 80px !important;
  width: 50%;
  padding-top: 20px;


}




.marketingHead{
    top: 0;
    padding-top: 20px;
}


.email-marketing-Head{
    display: flex;
    box-shadow: 2px 2px 2px 2px #f1f1f1; 
    /* height: 60px; */
}

.email-marketing-Head1{
    /* flex: 1; */
    padding: 10px;
    
}

.email-marketing-Head1:hover{
    box-shadow: 7px 7px 7px 7px #f1f1f1;
}

.email-marketing-Head2{
    /* flex: 1; */
    padding: 10px;
}

.email-marketing-Head2:hover{
    box-shadow: 7px 7px 7px 7px #f1f1f1; 
}

.email-marketing-Head3{
    /* flex: 1; */
    padding: 10px;
}

.email-marketing-Head3:hover{
    box-shadow: 7px 7px 7px 7px #f1f1f1; 
}

.email-marketingBody{
    flex:3;
    padding: 20px;
    }
.email-marketingNav{
    flex:1;
    color: #110746;
    box-shadow: 1px 1px 1px 10px #f1f1f1;
    /* border: 1px solid #110746; */
    padding: 20px;
    margin-top: 10px;
    
    }

    .email-marketingMenu{
        /* padding: 30px; */
    margin-top: 50px;
    height: 65vh;
    }

    .email-marketingMenuList{
   
        padding: 10px;
        color: #110746;
        font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        font-size: 30px;
       
        
    }
    
    .emailmarketingMenuList:hover{
       
        box-shadow: 2px 2px 2px 2px #f1f1f1;
        
    }





